<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sisteminf">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AkhirRemis" ></activity>
        <activity android:name=".AkhirMenang" />
        <activity android:name=".GerSekak" />
        <activity android:name=".GerPromosi" />
        <activity android:name=".GerEnpassant" />
        <activity android:name=".GerRokade" />
        <activity android:name=".BuahBidak" />
        <activity android:name=".BuahKuda" />
        <activity android:name=".BuahGajah" />
        <activity android:name=".BuahBenteng" />
        <activity android:name=".BuahMenteri" />
        <activity android:name=".BuahRaja" />
        <activity android:name=".AkhirCatur" />
        <activity android:name=".GerKhuCatur" />
        <activity android:name=".GerBuahCatur" />
        <activity android:name=".PerCatur" />
        <activity android:name=".PengCatur" />
        <activity android:name=".MenuUtama" />
        <activity android:name=".MainActivity"/>
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>